{{define "pageID"}}
	<div id="index" class="hide"></div>
{{end}}
{{ define "main" }}
<div class="inner_content">
	<div id="filter_menu">
		{{ $sortedProjects := (.Site.RegularPages.ByParam "year_tag").Reverse}}
		<div class="left_justified">
			<label>Filter Projects</label>
			<div id="filter_menu_inner">
				<button class="filter_option material"><h3>Material</h3></button>
				<button class="filter_option process"><h3>Process</h3></button>
				<button class="filter_option year"><h3>Year</h3></button>
				<button class="filter_option all"><h3>All</h3></button>
			</div>
		</div>
		<div class="right_justified">
			<h1>Projects</h1>
		</div>
	</div>
		<div class="filter overlay">
			<button class="filter_xit" id="xit">
						<img class="icon" src="/images/resources/xit.svg">
			</button>
			<div id="filter_inner">

				{{ range sort .Site.Data.tags.material_tag }}
					{{with .material_string}}
						<button class="material_tag tag" data-filter="{{replaceRE "(\\s)" "" . | lower}}">
							<h2>{{.}}</h2>
						</button>
					{{end}}
				{{end}}

				{{range sort .Site.Data.tags.process_tag }}
					{{with .process_string }}
						<button class="process_tag tag" data-filter="{{replaceRE "(\\s)" "" . | lower}}">
							<h2>{{.}}</h2>
						</button>
					{{end}}
				{{end}}

				{{range sort .Site.Data.tags.year_tag }}
					{{with .year_string }}
						<button class="year_tag tag" data-filter="{{ replaceRE "(\\s)" "" . | lower}}">
							<h2>{{.}}</h2>
						</button>
					{{end}}
				{{end}}

			</div>
		</div>
	<div id="index_container">
		<div class="index">
			{{range $sortedProjects }}
				<a class="project filtered" data-filter="{{range .Params.material_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{range .Params.process_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{replaceRE "(\\s)" "" .Params.year_tag }}" href="">
					<div class="margin project_inner">
						<div class="index_thumbnail" style="background-image:url('{{.Params.featured}}')"></div>
						<h3>{{.Title}}</h3>
						<label>{{ .Params.artist }}</label>
					</div>
				</a>
			{{end}}
		</div>
	</div>
</div>

{{ end }}