{{define "pageID"}}
	<div id="index" class="page hide"></div>
{{end}}
{{ define "main" }}
<div class="inner_content">
		<div id="filter_wrapper">
			<div class="two_column">

				{{ $projects := .Site.GetPage "projects"}}

				{{ $sortedProjects := ($projects.Pages.ByParam "year_tag").Reverse}}

				<div class="left_justified">
					<label>Filter Projects</label>
					<div id="filter_menu_inner">
						<button class="filter_option material"><h3>Material</h3></button>
						<button class="filter_option process"><h3>Process</h3></button>
						<button class="filter_option year"><h3>Year</h3></button>
						<button class="filter_option all"><h3>All</h3></button>
					</div>
				</div>
				<div class="right_justified">
					<h1 class="page_title">{{.Title}}</h1>
				</div>
			</div>
			<div class="filter overlay">
				<button class="filter_xit" id="xit">
						<img class="icon" src="/images/resources/xit.svg">
				</button>
				<div id="filter_inner">
					{{ range sort .Site.Data.tags.material_tag }}
						{{with .material_string}}
							<button class="material_tag tag margin {{replaceRE "(\\s)" "" . | lower}}" data-filter="{{replaceRE "(\\s)" "" . | lower}}">
								<h3>{{.}}</h3>
							</button>
						{{end}}
					{{end}}

					{{range sort .Site.Data.tags.process_tag }}
						{{with .process_string }}
							<button class="process_tag tag margin {{replaceRE "(\\s)" "" . | lower}}" data-filter="{{replaceRE "(\\s)" "" . | lower}}">
								<h3>{{.}}</h3>
							</button>
						{{end}}
					{{end}}

					{{range sort .Site.Data.tags.year_tag }}
						{{with .year_string }}
							<button class="year_tag tag margin " data-filter="{{ replaceRE "(\\s)" "" . | lower}}">
								<h3>{{.}}</h3>
							</button>
						{{end}}
					{{end}}
				</div>
			</div>
		</div>
		<div class="abs_wrapper"></div>
	<div id="index_container">
		<div class="index">
			{{range $index, $value := $sortedProjects }}

				{{ $media_featured_ext := path.Ext .Params.featured }}

				{{if (eq $media_featured_ext ".jpeg") | or (eq $media_featured_ext ".jpg") | or (eq $media_featured_ext ".JPG") }}
					<a class="project filtered" data-filter="{{range .Params.material_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{range .Params.process_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{replaceRE "(\\s)" "" .Params.year_tag }}" href="{{if (eq $index 0) }}/gallery/{{else}}/gallery/page/{{add $index 1}}{{end}}">
						<div class="margin project_inner">
							<img class="index_thumbnail lazyload" src=""data-src="{{.Params.featured}}" alt="{{.Title}}">
							<div class="project_info">
								<h3>{{.Title}}</h3>
								<label>{{ .Params.artist }}</label>
							</div>
						</div>
					</a>
				{{else if eq $media_featured_ext ".mp4" }}
					<a class="project filtered" data-filter="{{range .Params.material_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{range .Params.process_tag}}{{replaceRE "(\\s)" "" . | lower}} {{end}}{{replaceRE "(\\s)" "" .Params.year_tag }}" href="{{if (eq $index 0) }}/gallery/{{else}}/gallery/page/{{add $index 1}}{{end}}">
						<div class="margin project_inner">
								<video class="reel index_thumbnail lazyload " data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted">
										<source src="{{ .Params.featured }}" type="video/mp4" data-url="">
								</video>
							<div class="project_info">
								<h3>{{.Title}}</h3>
								<label>{{ .Params.artist }}</label>
							</div>
						</div>
					</a>
				{{end}}
			{{end}}
		</div>
	</div>
</div>
{{ end }}