{{define "pageID"}}
	<div id="gallery" class="page hide"></div>
{{end}}
{{define "main"}}
<div class="inner_content gallery">
	{{ $projects := .Site.GetPage "projects"}}

	{{ $sortedProjects := ($projects.Pages.ByParam "year_tag").Reverse}}

	{{ $paginator := .Paginate $sortedProjects }}
 
	{{range $index, $value := $paginator.Pages}}

		{{ $media_featured_ext := path.Ext .Params.featured }}

		{{ $featured := path.Base .Params.featured }}

		{{ $dir_featured := printf "images/%s*" $featured}}

		{{ $resources_featured_image := $value.Resources.GetMatch $dir_featured }}

		{{ $resize_load_set := default "50x" }}

		<div class="project_slide" data-project="{{ lower (replaceRE "(\\s)" "-" .Title) }}" data-total="{{$paginator.TotalPages}}">
			<div class="left_justified_full viewportFixed">
				<div id="slide_container" style="">
					<div class="slide" id="prev_slide"></div>
					{{if (eq $media_featured_ext ".jpeg") | or (eq $media_featured_ext ".jpg") | or (eq $media_featured_ext ".JPG") }}

						{{ if $resources_featured_image }}

							{{ .Scratch.Set "resized_load_featured" ($resources_featured_image.Resize $resize_load_set) }}

							{{ $scratch_load_src := .Scratch.Get "resized_load_featured" }}

					<div class="slide" id="main_slide" style="background-image:url({{ $scratch_load_src.RelPermalink }})" data-url="{{ $resources_featured_image.RelPermalink }}"></div>

						{{end}}

					{{else if eq $media_featured_ext ".mp4" }}
					<div class="slide video" id="main_slide" data-url="{{ .Params.featured }}">
						<video class="slideVideo reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted">
							<source src="{{ .Params.featured }}" type="video/mp4">
						</video>
					</div>
					{{end}}
					<div class="slide" id="next_slide"></div>
				</div>
				{{ if gt $paginator.TotalPages 1 }}
					<div id="directional_arrows">
					    {{ if $paginator.HasPrev }}
							<a id="arrow_left" href="{{ $paginator.Prev.URL }}" class="arrow arrow_nav left menu_item icon">
								<svg version="1.1" class=" menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
						{{ if $paginator.HasNext }}
							<a id="arrow_right" href="{{ $paginator.Next.URL }}" class="arrow menu_item icon right arrow_nav">
								<svg version="1.1" class="menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
					</div>
				{{end}}
				<div class="project_transition">
					<h1 class="title_transition">{{ .Title }}</h1>
					<label class="artist_transition">{{ .Params.artist }}</label>
				</div>
			</div>
			<div class="right_justified_partial">
				<div class="thumbnails">
					<div class="thumbnail_wrapper">
						<button id="project_left" class="menu_item icon left arrow">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:none;}
							</style>
							<line class="st0" x1="29.7" y1="20.4" x2="0" y2="50"/>
							<line class="st0" x1="98.7" y1="50" x2="0" y2="50"/>
							<line class="st0" x1="29.7" y1="79.6" x2="0" y2="50"/>
							</svg>
							<label>prev</label>
						</button>
						<div class="thumbnails_inner">
						{{if (eq $media_featured_ext ".jpeg") | or (eq $media_featured_ext ".jpg") | or (eq $media_featured_ext ".JPG") }}

						{{ if $resources_featured_image }}

							{{ .Scratch.Set "resized_load_featured" ($resources_featured_image.Resize $resize_load_set) }}

							{{ $scratch_load_src := .Scratch.Get "resized_load_featured" }}

						<button class="thumbnail margin loadingImg" style="background-image:url('')" data-url="{{$scratch_load_src.RelPermalink}}"></button>

						{{end}}

						{{else if eq $media_featured_ext ".mp4" }}
						<button class="thumbnail margin loadingImg video" style="background-image:url('')" data-url="{{.Params.featured}}">
							<video class="reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted">
								<source src="" data-url="{{ .Params.featured }}" type="video/mp4">
							</video>
						</button>
						{{end}}

						{{range .Params.thumbnailImages}}

							{{ $media_thumbnail_ext := path.Ext .image }}

							{{ $thumb := path.Base .image }}

							{{ $dir_thumb := printf "images/%s*" $thumb}}

							{{ $resources_thumb_image := $value.Resources.GetMatch $dir_thumb }}

							{{if (eq $media_thumbnail_ext ".jpeg") | or (eq $media_thumbnail_ext ".jpg") | or (eq $media_thumbnail_ext ".JPG") }}

								{{ if $resources_thumb_image }}

									{{$scratch_load_thumb_src := $resources_thumb_image.Resize "50x"}}

									<button class="thumbnail margin loadingImg slideshow" style="background-image:url('')" data-url="{{$scratch_load_thumb_src.RelPermalink}}" data-full="{{$resources_thumb_image.RelPermalink}}" ></button>

								{{end}}

							{{else if eq $media_thumbnail_ext ".mp4" }}
								<button class="thumbnail margin loadingImg video slideshow" style="background-image:url('')" data-url="{{.image}}">
									<video class="reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted" preload="none">
										<source src="" type="video/mp4" data-url="{{ .image }}">
									</video>
								</button>
							{{end}}

						{{end}}
						</div>
						<button id="project_right" class="menu_item icon right arrow">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:none;}
							</style>
							<line class="st0" x1="29.7" y1="20.4" x2="0" y2="50"/>
							<line class="st0" x1="98.7" y1="50" x2="0" y2="50"/>
							<line class="st0" x1="29.7" y1="79.6" x2="0" y2="50"/>
							</svg>
							<label>next</label>
						</button>
					</div>
					<div id="tag_wrapper">
						{{range .Params.material_tag}}
							<a class="gallery_tag margin internal" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
						{{range .Params.process_tag}}
							<a class="gallery_tag margin internal" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
					</div>
				</div>
				<div class="bottom_justified">
					<ul class="attribution margin">
						<li class="upperHeader title">
						<label>Title</label>
						{{ .Title }}
						</li>
						<li class="upperHeader">
						<label>Artist</label>
						{{ .Params.artist }}
						</li>
						 <li class="upperHeader">
						 <label>Year</label>
						 {{.Params.year_tag}}
						</li>
						<li class="upperHeader">
						<label>Material</label>
						{{ .Params.material }}
						</li>
						{{with .Params.attribution}}
							<li class="upperHeader last" >
								<label>Photo Credit & Copyright</label>
								{{.}}
							</li>
						{{end}}
					</ul>
					<div id="tag_wrapper" class="hide">
						{{range .Params.material_tag}}
							<a class="gallery_tag margin internal" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
						{{range .Params.process_tag}}
							<a class="gallery_tag margin internal" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
					</div>
				</div>

			</div>

		</div>

	{{end}}
</div>
{{end}}
