{{define "pageID"}}
	<div id="gallery" class="hide"></div>
{{end}}
{{define "main"}}

	{{ $projects := .Site.GetPage "projects"}}

	{{ $sortedProjects := ($projects.Pages.ByParam "year_tag").Reverse}}

	{{ $paginator := .Paginate $sortedProjects }}
 
	{{range $paginator.Pages}}

		<div id="{{ .Title }}" class="project_slide" data-total="{{$paginator.TotalPages}}">
			<div class="left_justified_full">
				<div id="slide_container">
					<div class="slide" id="prev_slide"></div>
					<div class="slide" id="main_slide" style="background-image:url({{ .Params.featured }})" data-url="{{ .Params.featured }}"></div>
					<div class="slide" id="next_slide"></div>
				</div>
				{{ if gt $paginator.TotalPages 1 }}
					<div id="directional_arrows">
					    {{ if $paginator.HasPrev }}
							<a id="arrow_left" href="{{ $paginator.Prev.URL }}" class="arrow left menu_item icon">
								<svg version="1.1" class=" menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
						{{ if $paginator.HasNext }}
							<a id="arrow_right" href="{{ $paginator.Next.URL }}" class="menu_item icon right arrow">
								<svg version="1.1" class="menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
					</div>
				{{end}}
			</div>
			<div class="right_justified_partial">
				<div class="thumbnails">
					<h2 class="upperHeader">Production Stage</h2>
					<button class="thumbnail margin" style="background-image:url('')" data-url="{{.Params.featured}}"></button>
					{{range .Params.Thumbnailimages}}

						<button class="thumbnail margin" style="background-image:url('')" data-url="{{.image}}"></button>

					{{end}}
					<div id="tag_wrapper">
						<h2 class="upperHeader">Tags</h2>
						{{range .Params.material_tag}}
							<a class="gallery_tag margin" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
						{{range .Params.process_tag}}
							<a class="gallery_tag margin" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
					</div>
				</div>
				<div class="bottom_justified">
					<ul class="attribution">
						<li class="black_under upperHeader">
						<label>Title</label>
						{{ .Title }}
						</li>
						<li class="black_under upperHeader">
						<label>Artist</label>
						{{ .Params.artist }}
						</li>
						 <li class="black_under upperHeader">
						 <label>Year</label>
						 {{.Params.year_tag}}
						</li>
						<li class="black_under upperHeader">
						<label>Material</label>
						{{ .Params.material }}
						</li>
						{{ if (not (isset .Params "attribution")) | or (eq .Params.attribution "") }}
						<li class="last"></li>
						{{else}}
						<li class="black_under upperHeader last" >
						<label>Photo Credit & Copyright</label>
						{{.Params.attribution}}
						</li>
						{{end}}
					</ul>
				</div>
			</div>

		</div>

	{{end}}
{{end}}
