{{define "pageID"}}
	<div id="gallery" class="page hide"></div>
{{end}}
{{define "main"}}

	{{ $projects := .Site.GetPage "projects"}}

	{{ $sortedProjects := ($projects.Pages.ByParam "year_tag").Reverse}}

	{{ $paginator := .Paginate $sortedProjects }}
 
	{{range $paginator.Pages}}

	{{ $media_featured_ext := path.Ext .Params.featured }}

		<div id="{{ .Title }}" class="project_slide" data-total="{{$paginator.TotalPages}}">
			<div class="left_justified_full viewportFixed">
				<div id="slide_container">
					<div class="slide" id="prev_slide"></div>
					{{if (eq $media_featured_ext ".jpeg") | or (eq $media_featured_ext ".jpg") | or (eq $media_featured_ext ".JPG") }}
					<div class="slide" id="main_slide" style="background-image:url({{ .Params.featured }})" data-url="{{ .Params.featured }}"></div>
					{{else if eq $media_featured_ext ".mp4" }}
					<div class="slide video" id="main_slide" data-url="{{ .Params.featured }}">
						<video class="slideVideo reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted">
							<source src="{{ .Params.featured }}" type="video/mp4">
						</video>
					</div>
					{{end}}
					<div class="slide" id="next_slide"></div>
				</div>
				{{ if gt $paginator.TotalPages 1 }}
					<div id="directional_arrows">
					    {{ if $paginator.HasPrev }}
							<a id="arrow_left" href="{{ $paginator.Prev.URL }}" class="arrow left menu_item icon">
								<svg version="1.1" class=" menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
						{{ if $paginator.HasNext }}
							<a id="arrow_right" href="{{ $paginator.Next.URL }}" class="menu_item icon right arrow">
								<svg version="1.1" class="menu_item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
								<style type="text/css">
									.st0{fill:none;}
								</style>
								<line class="st0" x1="73.02" y1="4.01" x2="26.98" y2="50.04"/>
								<line class="st0" x1="73.02" y1="95.99" x2="26.98" y2="49.96"/>
								</svg>
							</a>
						{{end}}
					</div>
				{{end}}
			</div>
			<div class="right_justified_partial">
				<div class="thumbnails">
					<h2 class="upperHeader margin">Production Stage</h2>

					{{if (eq $media_featured_ext ".jpeg") | or (eq $media_featured_ext ".jpg") | or (eq $media_featured_ext ".JPG") }}
					<button class="thumbnail margin loadingImg" style="background-image:url('')" data-url="{{.Params.featured}}"></button>
					{{else if eq $media_featured_ext ".mp4" }}
					<button class="thumbnail margin loadingImg video" style="background-image:url('')" data-url="{{.Params.featured}}">
						<video class="reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted">
							<source src="" data-url="{{ .Params.featured }}" type="video/mp4">
						</video>
					</button>
					{{end}}

					{{range .Params.thumbnailImages}}

						{{ $media_thumbnail_ext := path.Ext .image }}

						{{if (eq $media_thumbnail_ext ".jpeg") | or (eq $media_thumbnail_ext ".jpg") | or (eq $media_thumbnail_ext ".JPG") }}
							<button class="thumbnail margin loadingImg" style="background-image:url('')" data-url="{{.image}}"></button>
							{{else if eq $media_thumbnail_ext ".mp4" }}
							<button class="thumbnail margin loadingImg video" style="background-image:url('')" data-url="{{.image}}">
								<video class="reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted" preload="none">
									<source src="" type="video/mp4" data-url="{{ .image }}">
								</video>
							</button>
						{{end}}

					{{end}}

					<div id="tag_wrapper">
						<!-- <h2 class="upperHeader margin">Tags</h2> -->
						{{range .Params.material_tag}}
							<a class="gallery_tag margin" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
						{{range .Params.process_tag}}
							<a class="gallery_tag margin" href="/project_index/#{{replaceRE "(\\s)" "" . | lower}}">
								<label>{{.}}</label>
							</a>
						{{end}}
					</div>
				</div>
				<div class="bottom_justified">
					<ul class="attribution margin">
						<li class="black_under upperHeader">
						<label>Title</label>
						{{ .Title }}
						</li>
						<li class="black_under upperHeader">
						<label>Artist</label>
						{{ .Params.artist }}
						</li>
						 <li class="black_under upperHeader">
						 <label>Year</label>
						 {{.Params.year_tag}}
						</li>
						<li class="black_under upperHeader">
						<label>Material</label>
						{{ .Params.material }}
						</li>
						{{with .Params.attribution}}
							<li class="black_under upperHeader last" >
								<label>Photo Credit & Copyright</label>
								{{.}}
							</li>
						{{end}}
					</ul>
				</div>
			</div>

		</div>

	{{end}}
{{end}}
