{{define "pageID"}}
  <div id="about" class="page hide"></div>
{{end}}
{{ define "main" }}

{{ $context := .Site.GetPage "uploads" }}

{{ $comparison := .Params.hero_obj.hero }}

{{ $thumb_result := partial "thumbnail_generator" (dict "context" $context "comparison" $comparison) }}

<div class="page_section">
  <div class="inner_content">
      <div class="hero loadingImg lazyTrueImg">
        <img class="hero_banner lazyload" src="{{$thumb_result.RelPermalink}}" data-src="{{$comparison}}" alt="{{.Params.hero_obj.alt}}">
        <label class="hero_caption">{{.Params.hero_obj.alt}}</label>
      </div>
      <div class="flex_row">
        <div class="col_40">
          <h1>{{.Title}}</h1>
          <label>{{.Params.subtitle}}</label>
        </div>
        <div class="col_60">
          <p class="text_block">{{.Params.statement}}</p>
        </div>
      </div>
  </div>
</div>
<div class="page_section blackBG">
  <div class="inner_content">
    <h1 class="archive page_title upperHeader">Historic Projects</h1>
    {{range sort .Params.archive ".archive_obj.archive_year" }}
    <div class="flex_row archive_wrapper">
      <div class="col_60">

        {{ $comparison := .archive_obj.archive_image }}

        {{ $thumb_result := partial "thumbnail_generator" (dict "context" $context "comparison" $comparison) }}

        <div class="loadingImg lazyTrueImg">
          <img class="lazyload archive_image abs_target" src="{{$thumb_result.RelPermalink}}" data-src="{{$comparison}}">
        </div>
    
      </div>
      <div class="col_40">
        <div class="archive_caption_inner">
          <h3 class="archive_year">{{.archive_obj.archive_year}}</h3>
          <h1 class="first">{{.archive_obj.archive_title}}</h1>
          <h3>{{.archive_obj.archive_artist}}</h3>
        </div>
      </div>
      <div id="timeline"></div>
    </div>
    {{end}}
  </div>
</div>

</div>
{{ end }}