<footer>
	<div class="inner_content">
		<div class="footer_row">
			<div class="footer_section">
				<div class="footer_item">
					<!--LOGO SVG -->
					<a id="wwf_logo" class="fill_change" href="/">
						{{ .Site.Data.logo.svgEditor.code | safeHTML}}
					</a>
				</div>
			</div>
			<div class="footer_section">
				<div class="footer_item">
					{{partial "menu_base" .}}
				</div>
			</div>
		</div>
		<div class="footer_row last">
			<div id="contact" class="footer_item">
				<ul>
					<li>{{ .Site.Data.contact.addressOne }}</li>
					<li>{{ .Site.Data.contact.addressTwo }}</li>
					<li>{{ .Site.Data.contact.phone }}</li>
					<li>{{ .Site.Data.contact.email }}</li>
				</ul>
			</div>
			<div class="footer_item">
				<label>© 2021 Walla Walla Foundry.</label>
			</div>
		</div>
	</div>
</footer>
<!--Functions-->
<script src="/js/scripts.js"></script>