<footer>

	<div class="footer_section">
		<ul id="menu_links">
					{{range $.Site.Data.nav.topLevelItems}}
						<li>
							<a href="/{{.selectPage}}"><h2>{{ .displayText }}</h2></a>
						</li>
					{{end}}
					{{range $.Site.Data.nav.customItems}}
						<li>
							<a href="/{{.selectPage}}/"><h2>{{ .displayText }}</h2></a>
						</li>
					{{end}}
		</ul>
	</div>

	<div class="footer_section">

	</div>

	<div class="footer_section">
		<label>Contact</label>
			<ul>
				<li>{{ .Site.Data.contact.addressOne }}</li>
				<li>{{ .Site.Data.contact.addressTwo }}</li>
				<li>{{ .Site.Data.contact.phone }}</li>
				<li>{{ .Site.Data.contact.email }}</li>
			</ul>

	</div>
</footer>
<!--Functions-->
<script src="/js/scripts.js"></script>