<footer class="blackBG">
	<div class="inner_content">
		<div class="footer_section">
				<div class="footer_item">
					<!--LOGO SVG -->
					<a id="wwf_logo" class="fill_change" href="/">
						{{ .Site.Data.logo.svgEditor.code | safeHTML}}
					</a>
				</div>
				<div class="footer_item">
					<div class="fill_change margin">
						{{partial "social_base" .}}
					</div>
				</div>
	</div>
</footer>
<!--Functions-->
<script src="/js/jquery.scrollTo.min.js"></script>
{{ $js := resources.Get "js/scripts.js" | js.Build "scripts.js" | minify }}
<script src="{{$js.RelPermalink}}"></script>