  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Site.Data.meta.description }}">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--Fonts-->
    <link href="/fonts/NiveauGroteskRegular.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/NiveauGroteskMedium.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/NiveauGroteskBlack.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/SupriaSans_Regular.ttf" rel="preload" as="font" type="font/ttf" crossorigin="">
    <link href="/fonts/CenturyGothic_Regular.ttf" rel="preload" as="font" type="font/ttf" crossorigin="">
    <link href="/fonts/CenturyGothic_Bold.ttf" rel="preload" as="font" type="font/ttf" crossorigin="">
    <link href="/fonts/fonts.css" rel="stylesheet">
    <!--Stylesheet-->
    {{ $style := resources.Get "css/styles.css" | resources.Minify }}
    <link href="{{ $style.Permalink }}" rel="stylesheet">
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <!--hammer.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <!--Lazyload-->
    <script src="/js/lazysizes.min.js" async=""></script>
  </head>