  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Site.Data.meta.description }}">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <!--Fonts-->
    <link href="/fonts/NiveauGroteskRegular.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/NiveauGroteskMedium.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/NiveauGroteskBlack.otf" rel="preload" as="font" type="font/otf" crossorigin="">
    <link href="/fonts/fonts.css" rel="stylesheet">
    <!--Stylesheet-->
    <link href="/css/styles.css" rel="stylesheet">
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
  </head>