	<div id="side_menu_wrapper">
		<div id="menu_side">
			<div id="menu_inner">
				<button id="xit">
					<img class="icon" src="/images/resources/xit.svg">
				</button>
				<ul id="menu_links">
					{{range $.Site.Data.nav.topLevelItems}}
						<li>
							<a href="/{{.selectPage}}"><h2>{{ .displayText }}</h2></a>
						</li>
					{{end}}
					{{range $.Site.Data.nav.customItems}}
						<li>
							<a href="{{.selectPage}}"><h2>{{ .displayText }}</h2></a>
						</li>
					{{end}}
				</ul>
				<ul id="social_links">
					{{range $.Site.Data.nav.socialItems}}
						<li>
							<a href="{{.socialURL}}"><img class="icon" src="{{ .socialIcon }}" alt="social"></a>
						</li>
					{{end}}
				</ul>
			</div>
		</div>
	</div>