<nav>
		<!--LOGO SVG -->
		{{.partials "logo" .Params}}
		<div id="menu">
			<div id="controls">
				<button id="hamburger" class="menu_item last">
					<svg version="1.1" id="ham_svg" class="fill_change" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
						<g>
							<g>
								<rect x="17.3" y="29.7" width="63.6" height="5"/>
							</g>
							<g>
								<rect x="3.1" y="48" width="92.9" height="5"/>
							</g>
							<g>
								<rect x="17.7" y="66.3" width="63.6" height="5"/>
							</g>
						</g>
					</svg>
				</button>
			</div>
		</div>
</nav>