{{define "pageID"}}
	<div id="home" class="page hide"></div>
{{end}}
{{define "main"}}

	<div id="main_slide" class="home viewportFixed blackBG">
		
		<ul class= "gallery_container">

			{{range .Params.reelVideo}}

			<li class="video_slide">
				<video class="reel" data-setup="{}" playsinline="playsinline" autoplay="autoplay" preload="metadata" loop="loop" muted="muted" preload="none">
						<source src="{{ .video }}" type="video/mp4">
				</video>
			</li>

			{{end}}

		</ul>

	</div>

{{end}}