{{define "pageID"}}
	<div id="contact" class="page hide"></div>
{{end}}
{{ define "main" }}
	<div class="inner_content">
		<div class="column_flex collapse black_under">
			<h1>{{.Title}}</h1>
			<div class="two_column first">
				<div class="col_25">
					<div class="column_flex">
						<a href="mailto:{{.Site.Data.contact.email}}">{{.Site.Data.contact.email}}</a>
						<a href="tel:{{.Site.Data.contact.phone}}">{{.Site.Data.contact.phone}}</a>
						<a class="gallery_tag"><label>Employment Opportunities</label></a>
					</div>
				</div>
			</div>
		</div>
			<div class="column_flex">
				<h1>Locations</h1>
				<div class="two_column last">
					{{range .Params.locations }}
						<div class="col_25">
							<h3 class="location_name">{{.location_name}}</h3>
							<div class="address">
								<p>{{.location_address.street}}</p>
								<p>{{.location_address.city}}</p>
								<p>{{.location_address.zip}}</p>
							</div>
							<label>{{.location_desc}}</label>
							<p class="coordinates">{{.coordinates}}</p>
						</div>
					{{end}}
				</div>
					<div id="mapBox">
						<div class="mapData">
						</div>
					</div>
			</div>
	</div>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{{ end }}

