{{define "pageID"}}
	<div id="contact" class="page hide"></div>
{{end}}
{{ define "main" }}
	<div class="inner_content">
		<div class="flex_row collapse">
				<div class="col_40">
					<h1 class="first">{{.Title}}</h1>
				</div>
				<div class="col_60 last">
					<div class="flex_row margin_negative">
						<div class="col_33 margin collapse">
							<h3>Email</h3>
							<a href="mailto:{{.Site.Data.contact.email}}" class="black_under">{{.Site.Data.contact.email}}</a>
						</div>
						<div class="col_33 margin collapse">
							<h3>Phone</h3>
							<a href="tel:{{.Site.Data.contact.phone}} x{{.Site.Data.contact.ext}}">{{.Site.Data.contact.phone}} x {{.Site.Data.contact.ext}}</a>
						</div>
						<div class="col_33 margin collapse">
							<h3>Address</h3>
							<p>{{.Site.Data.contact.data_street}}<br>
							{{.Site.Data.contact.data_city}} {{.Site.Data.contact.data_zip}}<br></p>
						</div>
					</div>
				</div>
		</div>
			<div class="column_flex">
				<h1>Locations</h1>
				<div class="flex_row margin_negative">
					{{range .Params.locations }}
						<div class="col_25 margin">
							<h3 class="location_name">{{.location_name}}</h3>
							<div class="address">
								<a href="{{.google_maps | safeURL}}"><label>{{.location_address.street}}</label><br>
								<label>{{.location_address.city}} {{.location_address.zip}}</label><br></a>
							</div>
							<p>{{.location_desc}}</p>
							<p class="coordinates">{{.coordinates}}</p>
						</div>
					{{end}}
				</div>
					<div id="mapBox">
						<div class="mapData">
						</div>
					</div>
			</div>
	</div>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{{ end }}

